* {
    outline: none;
}

body {
    background-color: #1a1a1a;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    max-height: 100vh;
}

.editor-wrapper {
    width: 40%;
    max-height: 70%;
}

.editor-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 1.5rem;
    overflow-y: auto;
    max-height: 90%;

}

.editor-container::-webkit-scrollbar {
    display: none;
}

.list-wrapper {
    width: 30%;
    max-height: 70%;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    display: none;
}


.note {
    height: 10rem;
    width: 11rem;
    margin: 1rem;
    border-radius: 10%;
    overflow: hidden;
}

.title-bar {
    width: inherit;
    padding: 0.7rem 0 0.7rem 0;
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    
}

.change-title-button {
    padding: 0 0 0 10px;
    white-space: pre-line;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: inherit;
    color: #FFFFFF;
    font-weight: 700;
    border: 0;
}

.change-title-button:hover {
    color: rgba(255, 255, 255, 0.671);
}

.title-form {
    background-color: inherit;
    border: 0;
    color: #FFFFFF;
    height: 200%;
}

.delete-button {
    border-radius: 50%;
    background-color: inherit;
    color: #858585;
    border: 0;
    margin: 0 5%;
}

.delete-button:hover {
    background-color: #1a1a1a;
    color: #858585;
}

.show-button {
    width: inherit;
    height: 8rem;
    overflow: hidden;
    background-color: #323232;
    border: 0;
    color: #858585;
    font-weight: 700;
    text-overflow: ellipsis;

}

.show-text {
    height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #858585;
    font-weight: 700;
    text-align: start;
    margin: 1rem;
}

.show-button:hover {
    background-color: #323232d3;
}

.add-button {
    height: 10rem;
    width: 11rem;
    margin: 1rem;
    background-color: #32323256;
    border-radius: 10%;
    color: #858585;
    font-size: 50px;
    border: 0;
    text-align: center;
}

.add-button:hover {
    background-color: #1a1a1a;
}
